@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default eye in password input */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Bordered drop area */
.filepond--panel-root {
  background: linear-gradient(to right, #ffdab9, #ffd999);
  border-radius: 24rem;
  border: 1px solid lightgray;
}

@layer components {
  .focus { 
    @apply outline-none focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-yellow-500 focus-visible:ring-offset-1
  }
}

